<?xml version='1.0' encoding='utf-8'?>
<widget android-packageName="com.ironyoung.IronYoung" android-versionCode="0001" id="com.ironyoung.IronYoung" ios-CFBundleIdentifier="com.ironyoung.IronYoung" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Iron Young</name>
    <description>Iron Young app</description>
    <author email="dancormierall@gmail.com" href="http://ironyoung.com">Dan Cormier</author>
    <content src="index.html" />
    <platform name="ios">
        <preference name="deployment-target" value="9.0.0" />
        <!-- TODO: iOS app icon
        <icon height="57" src="res/icon/icon.png" width="57" />
        <icon height="114" src="res/icon/icon@2x.png" width="114" />
        <icon height="40" src="res/icon/icon-40.png" width="40" />
        <icon height="80" src="res/icon/icon-40@2x.png" width="80" />
        <icon height="120" src="res/icon/icon-40@3x.png" width="120" />
        <icon height="50" src="res/icon/icon-50.png" width="50" />
        <icon height="100" src="res/icon/icon-50@2x.png" width="100" />
        <icon height="60" src="res/icon/icon-60.png" width="60" />
        <icon height="120" src="res/icon/icon-60@2x.png" width="120" />
        <icon height="180" src="res/icon/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icon/icon-72.png" width="72" />
        <icon height="144" src="res/icon/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/icon-76.png" width="76" />
        <icon height="152" src="res/icon/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icon/icon-83.5@2x.png" width="167" />
        <icon height="29" src="res/icon/icon-small.png" width="29" />
        <icon height="58" src="res/icon/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/icon-small@3x.png" width="87" />
        <icon height="1024" src="res/icon/iTunesArtwork@2x.png" width="1024" />
        <splash height="480" src="res/screen/ios/Default~iphone.png" width="320" />
        <splash height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
        <splash height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
        <splash height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="768" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
        <splash height="1536" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
        <splash height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="res/screen/ios/Default-667h.png" width="750" />
        <splash height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
        <splash height="1242" src="res/screen/ios/Default-Landscape-736h.png" width="2208" />
        -->
    </platform>
    <platform name="android">
        <!-- TODO: Android app icons
        <icon density="ldpi" src="res/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="res/icon/drawable-mdpi-icon.png" />
        <icon density="hdpi" src="res/icon/drawable-hdpi-icon.png" />
        <icon density="xhdpi" src="res/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="res/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="res/icon/drawable-xxxhdpi-icon.png" />
        -->
    </platform>
    <feature name="Device" />
    <allow-navigation href="*" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
